@charset "utf-8";
/* CSS Document */
 * {
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 20px;
      font-family: sans-serif;
    }

    div.divider {
      height: 5px;
      background-color: cyan;
      margin-top: 10px;
    }

    div.orders {
      display: flex;
      flex-wrap: wrap;
    }

    h2.menu {
      margin-top: 20px;
    }

    img {
      margin: 10px;
      height: 300px;
      width: 200px;
      border-style: solid;
      border: tomato;
      background-origin: padding-box;
    }

    div.orders {
      display: flex;
      flex-direction: column;
    }

    textarea {
      resize: none;
      width: 50%;
      overflow-y: scroll;
      pointer-events: none;
    }

    p.total {
      margin-top: 10px;
    }
